.devikid-info-container {
  margin-bottom: 40px;
}

.devikid-info {
  .devikid-data {
    max-width: 500px;
    margin: 20px auto 0px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }

  .devikid-data-box {
    border: 1px solid $eldritch;
    background: rgba($eldritch, .08);
    border-radius: 5px;
    padding: 10px;
    margin: 3px;

    >p {
      margin: 0px;

      &:nth-child(1) {
        font-weight: 300;
        color: rgba($uncommon, .7);
        margin-bottom: 5px;
        font-size: 12px;
        text-transform: capitalize;
      }

      &:nth-child(2) {
        color: $unique;
        font-size: 16px;
        text-transform: capitalize;
      }
    }
  }

  .devikid-data-bar {
    border: 1px solid #aa33b5;
    background: rgba(170, 51, 181, .08);
    border-radius: 5px;
    padding: 10px;
    margin: 3px;
    width: 100%;
    max-width: 420px;
    position: relative;
    overflow: hidden;

    p {
      margin: 0px;

      &:nth-child(1) {
        font-weight: 300;
        color: rgba($uncommon, .7);
        margin-bottom: 5px;
        font-size: 12px;
      }

      &:nth-child(2) {
        color: $unique;
        font-size: 16px;
      }
    }

    .devikid-bar-info {
      z-index: 1;
      position: relative;
    }

    .devikid-bar {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 66%;
      background: rgba(purple, .5);
      // box-shadow: 0 0 10px 0 $eldritch;
    }
  }

  .personality {
    position: relative;
  }

  .personality-reco-items {
    border-radius: 5px;
    position: absolute;
    border: 1px solid #aa33b5;
    background: #1d1a2f;
    display: flex;
    width: 160px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    top: -140px;
    right: -120px;

    @media (max-width: 767px) {
      display: none;
    }

    &::before {
      position: absolute;
      content: '';
      display: block;
      width: 1px;
      background-color: #aa33b5;
      height: 26px;
      bottom: -23px;
      left: 30px;
      transform: rotate(45deg);
    }

    p {
      font-weight: 300;
      color: rgba($uncommon, .7);
      margin-bottom: 1px;
      font-size: 12px;
      text-transform: capitalize;
      margin-top: 5px;
    }

    img {
      width: 50px;
      display: block;
    }
  }
}