.find-parent {
  margin-bottom: 50px;

  .no-parents {
    max-width: 130px;
    width: 100%;
    border-radius: 20px;
    height: 170px;
    background: #000;
    color: white;
    background: url(../../assets/images/no-parent-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border: 5px solid black;

    @media (max-width: 700px) {
      margin-bottom: 10px;
    }
  }

  @media (max-width: 700px) {
    #family-tree {
      .generation {
        flex-direction: row;

        &:before,
        &:after {
          content: none;
        }
      }

      #grand-parents {
        margin-top: -60px;
        margin-bottom: -60px;

        .pair {
          transform: scale(.6);
        }
      }

      #parents {
        .parent-item {
          transform: scale(.6);
        }
      }
    }
  }

  @media (max-width: 400px) {

    #family-tree #grand-parents,
    #family-tree #parents .pair {
      flex-direction: row;
    }
  }
}