.find-parent {
  .find-parent-action {
    max-width: 350px;
    width: 100%;
    margin: auto;
    margin-bottom: 50px;

    input {
      width: 100%;
      font-size: 20px;
      padding: 5px 10px;
      border: 0px;
      color: white;
      background: rgb(0 0 0 / 30%);
      margin-bottom: 10px;
    }

    button {
      width: 100%;
      font-size: 20px;
      padding: 5px 10px;
      background: $eldritch;
      border: 0px;
      color: white;
    }
  }

  .no-parents {
    max-width: 130px;
    width: 100%;
    border-radius: 20px;
    height: 170px;
    background: #000;
    color: white;
    background: url(/assets/images/no-parent-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border: 5px solid black;

    @media (max-width: 700px) {
      margin-bottom: 10px;
    }
  }
}